@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');



:root {
    --body-light:#EEE7DA;
    --body-dark:#161A30;
}


body {  
    background-color: #F1E4C3;
    text-align: center;
    height:100vh;
    font-family: 'PT Serif', serif;
}

/* .container {
    background-color: #fff3d7;
} */

.judul {
    margin:20px 0 30px 0;
    
}

.judul span h1 {
    font-size: 35px;
    color: white;
    text-shadow: black;
}

.ukuran {
    width: 320px;
}

.info-contact {
    color: white;
    position: relative;
}
.info-contact a {
    color: red;
}

.info-contact a:hover {
    color: blue;
}

.copy {
    margin-top: 10px;
}

button:hover{
    background-color: #65B741;

}